body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:173px;
  top:373px;
  width:193px;
  height:440px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:176px;
  top:306px;
  width:984px;
  height:54px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:54px;
}
#u3 {
  position:absolute;
  left:2px;
  top:19px;
  width:980px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:175px;
  top:367px;
  visibility:hidden;
}
#u4_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:155px;
  top:31px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:162px;
  top:36px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:155px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:94px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:101px;
  top:5px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:125px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:20px;
  top:140px;
  width:1320px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:120px;
}
#u20 {
  position:absolute;
  left:2px;
  top:52px;
  width:1316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:20px;
  top:160px;
  width:160px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u22 {
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:190px;
  top:159px;
  width:190px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:199px;
  top:165px;
  width:169px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:31px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:260px;
  width:1320px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:1316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:41px;
  top:260px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:121px;
  top:260px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:201px;
  top:260px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:281px;
  top:260px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:361px;
  top:260px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:441px;
  top:260px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:376px;
  top:501px;
  width:789px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:38px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:785px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:374px;
  top:431px;
  width:789px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:785px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:366px;
  top:367px;
  width:807px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:68px;
}
#u46 {
  position:absolute;
  left:2px;
  top:26px;
  width:803px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:382px;
  top:549px;
  width:160px;
  height:160px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u48 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:382px;
  top:719px;
  width:160px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:586px;
  top:549px;
  width:160px;
  height:160px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u52 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:586px;
  top:719px;
  width:160px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:791px;
  top:549px;
  width:160px;
  height:160px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u56 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:791px;
  top:719px;
  width:160px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:995px;
  top:549px;
  width:160px;
  height:160px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u60 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:995px;
  top:719px;
  width:160px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:382px;
  top:809px;
  width:160px;
  height:160px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u64 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:382px;
  top:979px;
  width:160px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:586px;
  top:809px;
  width:160px;
  height:160px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u68 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:586px;
  top:979px;
  width:160px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:791px;
  top:809px;
  width:160px;
  height:160px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u72 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:791px;
  top:979px;
  width:160px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:995px;
  top:809px;
  width:160px;
  height:160px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u76 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:995px;
  top:979px;
  width:160px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:414px;
  top:406px;
  width:24px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u80 {
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:199px;
  top:324px;
  width:79px;
  height:16px;
  color:#999999;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:176px;
  top:306px;
  width:984px;
  height:60px;
  overflow:hidden;
  visibility:hidden;
}
#u83_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
  text-align:left;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:786px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:760px;
  top:30px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:767px;
  top:35px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:760px;
  top:-1px;
  width:30px;
  height:30px;
  font-size:28px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:729px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:699px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:706px;
  top:5px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
