@charset "utf-8";
/* CSS Document */

/*html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, q, th, td, caption, article, aside, figure, figcaption, footer, header, hgroup, nav, section, audio, video{
 margin: 0;
 padding: 0;
 font-weight: 400;

}*/
a,img{
 border:none;
 text-decoration: none;
 cursor: pointer;
 outline: 0 none;
}
ol, ul {
 list-style: none;
}

/*body {
	width: 180px;
	margin: 10px auto;
    overflow:hidden;
}*/

.shop_Notices,.shop_Profile {
	width: 100%-20;
	padding: 0 10px 10px 10px;
	border: 1px #e6e6e6 solid;
	border-top: 2px #be0e2b solid;
    background:#ffffff;
    text-align:left;
}

.shop_Notices h4 ,.shop_Profile  h4{
	font: 400 14px "Mirosoft YaHei";
	color: #333;
	padding-top:10px;
}

.shop_Notices p , .shop_Profile p {
	font: 300 12px/20px "NSimSun";
	color: #5e5e5e;	
	line-height:20px;
	text-align:left;
	padding-left:2px;
	word-wrap:break-word;
	word-break:break-all;
	padding-top:10px;
}


.shop_line {
	display: block;
	width: 100%;
	height: 1px;
	background-color: #e6e6e6;
	margin-top: 10px;	
}


.shop_Profile  p b {
	font: 700 14px/20px "Arial";
}

.shop_help {
	width: 178px;
	height: 28px;
	padding: 15px 0 10px 0;
}

.shop_service {
	display: block;
	float: left;
	width: 93px;
	height: 25px;
	border: 1px #ff5757 solid;
	text-align: center;
	font: 300 12px/25px "SimSun";
	color: #cc0000;

}
.icon {
	font:300 12px/25px "SimSun";
	width:93px;
	height:25px;
	background: url(../../images/pcdecorate/service_1.png) no-repeat 10px center;
	margin-left: 4px;
	color: #ccc;
    font: 300 12px/25px "SimSun";
    border: 1px #ccc solid;
    text-indent:35px;
    display:block;
    cursor:auto;
}

.shop_collect {
	float: left;
	width: 74px;
	height: 25px;
	text-align: center;
	border: 1px #888 solid;
	font: 300 12px/25px "SimSun";
	color: #888;
	margin-left: 7px;
}
