body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:46px;
  top:318px;
  width:173px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:146px;
  top:362px;
  width:67px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:244px;
  top:318px;
  width:173px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:244px;
  top:362px;
  width:79px;
  height:15px;
  font-size:12px;
  color:#990000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:350px;
  top:362px;
  width:53px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:442px;
  top:318px;
  width:173px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:442px;
  top:362px;
  width:79px;
  height:15px;
  font-size:12px;
  color:#990000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:540px;
  top:362px;
  width:67px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:638px;
  top:318px;
  width:173px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:638px;
  top:362px;
  width:79px;
  height:15px;
  font-size:12px;
  color:#990000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:46px;
  top:362px;
  width:79px;
  height:15px;
  font-size:12px;
  color:#990000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:38px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:38px;
  top:88px;
  width:180px;
  height:180px;
  font-size:16px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u25 {
  position:absolute;
  left:2px;
  top:80px;
  width:176px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:238px;
  top:88px;
  width:180px;
  height:180px;
  font-size:16px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u27 {
  position:absolute;
  left:2px;
  top:80px;
  width:176px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:438px;
  top:88px;
  width:180px;
  height:180px;
  font-size:16px;
  color:#666666;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u29 {
  position:absolute;
  left:2px;
  top:80px;
  width:176px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:638px;
  top:88px;
  width:180px;
  height:180px;
  font-size:16px;
  color:#666666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u31 {
  position:absolute;
  left:2px;
  top:80px;
  width:176px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:76px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:113px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:150px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:188px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:240px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:438px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:476px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:514px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:638px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:676px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:713px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:750px;
  top:278px;
  width:30px;
  height:30px;
  font-size:12px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:44px;
  top:36px;
  width:803px;
  height:45px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:45px;
}
#u57 {
  position:absolute;
  left:2px;
  top:14px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:38px;
  top:10px;
  width:261px;
  height:16px;
  color:#FF0000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:38px;
  top:410px;
  width:183px;
  height:16px;
  color:#FF0000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:38px;
  top:500px;
  width:800px;
  height:240px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:240px;
}
#u63 {
  position:absolute;
  left:2px;
  top:112px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:38px;
  top:500px;
  width:800px;
  height:38px;
  text-align:left;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:38px;
}
#u65 {
  position:absolute;
  left:2px;
  top:11px;
  width:796px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:808px;
  top:500px;
  width:20px;
  height:37px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:60px;
  top:690px;
  width:100px;
  height:30px;
  color:#6600FF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:170px;
  top:690px;
  width:100px;
  height:30px;
  color:#1E1E1E;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:65px;
  top:570px;
  width:66px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:52px;
  top:618px;
  width:79px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:146px;
  top:570px;
  width:200px;
  height:22px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u76_input:disabled {
  color:grayText;
}
#u77 {
  position:absolute;
  left:146px;
  top:612px;
  width:156px;
  height:22px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u77_input:disabled {
  color:grayText;
}
#u78 {
  position:absolute;
  left:38px;
  top:438px;
}
#u78_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u78_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
  text-align:left;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:786px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:760px;
  top:32px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:767px;
  top:37px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:760px;
  top:1px;
  width:30px;
  height:30px;
  font-size:28px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:730px;
  top:1px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:700px;
  top:1px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:707px;
  top:6px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:65px;
  top:652px;
  width:66px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:146px;
  top:652px;
  width:164px;
  height:16px;
}
#u96 {
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u95_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u97 {
  position:absolute;
  left:289px;
  top:652px;
  width:164px;
  height:16px;
}
#u98 {
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u97_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u99 {
  position:absolute;
  left:38px;
  top:800px;
  width:869px;
  height:78px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:78px;
}
#u100 {
  position:absolute;
  left:2px;
  top:31px;
  width:865px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:38px;
  top:760px;
  width:200px;
  height:28px;
  font-size:11px;
  color:#FF0000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
