body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:882px;
  width:1320px;
  height:120px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:120px;
}
#u1 {
  position:absolute;
  left:2px;
  top:52px;
  width:1316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:392px;
  width:800px;
  height:454px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:454px;
}
#u3 {
  position:absolute;
  left:2px;
  top:219px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:392px;
  width:800px;
  height:38px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:796px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:790px;
  top:392px;
  width:20px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:20px;
  top:80px;
  width:144px;
  height:16px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:20px;
  top:271px;
  width:131px;
  height:16px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:34px;
  top:758px;
  width:100px;
  height:30px;
  color:#6600FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:144px;
  top:758px;
  width:100px;
  height:30px;
  color:#1E1E1E;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:856px;
  width:290px;
  height:16px;
  color:#FF0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:30px;
  top:902px;
  width:160px;
  height:80px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:200px;
  top:901px;
  width:190px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:209px;
  top:907px;
  width:169px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:20px;
  top:1026px;
  width:410px;
  height:16px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:1052px;
  width:1320px;
  height:120px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:120px;
}
#u27 {
  position:absolute;
  left:2px;
  top:52px;
  width:1316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:30px;
  top:1072px;
  width:160px;
  height:80px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u29 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:200px;
  top:1071px;
  width:190px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:209px;
  top:1077px;
  width:169px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:20px;
  top:1053px;
  width:1320px;
  height:30px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:1316px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:99px;
  top:1053px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:108px;
  top:1058px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:20px;
  top:297px;
  width:1320px;
  height:79px;
  overflow:hidden;
}
#u40_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:30px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:1316px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1290px;
  top:170px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1297px;
  top:175px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1260px;
  top:140px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:50px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:57px;
  top:5px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:1290px;
  top:140px;
  width:30px;
  height:30px;
  font-size:28px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:29px;
  width:190px;
  height:46px;
  color:#0000FF;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:46px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:20px;
  top:1200px;
  width:290px;
  height:16px;
  color:#FF0000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:44px;
  top:478px;
  width:66px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:46px;
  top:508px;
  width:64px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:118px;
  top:511px;
  width:170px;
  height:90px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:90px;
}
#u64 {
  position:absolute;
  left:2px;
  top:37px;
  width:166px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:57px;
  top:618px;
  width:53px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:118px;
  top:611px;
  width:80px;
  height:30px;
  color:#0000FF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u67_img.mouseOver {
}
#u67.mouseOver {
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:118px;
  top:643px;
  width:564px;
  height:90px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:90px;
}
#u70 {
  position:absolute;
  left:2px;
  top:37px;
  width:560px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:230px;
  top:481px;
  width:100px;
  height:16px;
}
#u72 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u71_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u73 {
  position:absolute;
  left:298px;
  top:585px;
  width:100px;
  height:16px;
}
#u74 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u73_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u75 {
  position:absolute;
  left:44px;
  top:448px;
  width:66px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:118px;
  top:444px;
  width:126px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u78 {
  position:absolute;
  left:254px;
  top:448px;
  width:17px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:121px;
  top:481px;
  width:200px;
  height:16px;
  color:#000000;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:30px;
  top:507px;
  width:9px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:118px;
  top:733px;
  width:702px;
  height:16px;
  color:#999999;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:22px;
  top:1083px;
  width:190px;
  height:46px;
  color:#0000FF;
  text-align:left;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:46px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:830px;
  top:540px;
  width:272px;
  height:32px;
  color:#FF0000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:32px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:830px;
  top:681px;
  width:274px;
  height:32px;
  color:#FF0000;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:32px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:281px;
  top:448px;
  width:574px;
  height:16px;
  color:#999999;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:30px;
  top:448px;
  width:9px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:30px;
  top:109px;
  width:1320px;
  height:120px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:120px;
}
#u97 {
  position:absolute;
  left:2px;
  top:52px;
  width:1316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:30px;
  top:129px;
  width:160px;
  height:80px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u99 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:200px;
  top:128px;
  width:190px;
  height:40px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u101 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:209px;
  top:134px;
  width:169px;
  height:28px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:1240px;
  top:776px;
  width:100px;
  height:30px;
  color:#6600FF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1350px;
  top:776px;
  width:100px;
  height:30px;
  color:#1E1E1E;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:1240px;
  top:752px;
  width:600px;
  height:16px;
  color:#FF0000;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:20px;
  top:20px;
  width:321px;
  height:37px;
  color:#FF0000;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:37px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
