body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:936px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:133px;
  top:220px;
  width:803px;
  height:525px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:525px;
}
#u1 {
  position:absolute;
  left:2px;
  top:254px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:133px;
  top:194px;
  width:200px;
  height:16px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
