body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:943px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:292px;
  width:480px;
  height:16px;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:10px;
  width:670px;
  height:96px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:96px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:174px;
  width:570px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:10px;
  width:898px;
  height:293px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:43px;
  top:0px;
  width:403px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:399px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:446px;
  top:0px;
  width:223px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:669px;
  top:0px;
  width:224px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:220px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:30px;
  width:43px;
  height:52px;
  color:#FF0000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:52px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:43px;
  top:30px;
  width:403px;
  height:52px;
  color:#FF0000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:52px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:399px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:446px;
  top:30px;
  width:223px;
  height:52px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:52px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:669px;
  top:30px;
  width:224px;
  height:52px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:52px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:82px;
  width:43px;
  height:52px;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:52px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:43px;
  top:82px;
  width:403px;
  height:52px;
  color:#FF0000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:52px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:399px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:446px;
  top:82px;
  width:223px;
  height:52px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:52px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:669px;
  top:82px;
  width:224px;
  height:52px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:52px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:134px;
  width:43px;
  height:36px;
  color:#FF0000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:43px;
  top:134px;
  width:403px;
  height:36px;
  color:#FF0000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:399px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:446px;
  top:134px;
  width:223px;
  height:36px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:669px;
  top:134px;
  width:224px;
  height:36px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:170px;
  width:43px;
  height:25px;
  color:#FF0000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:43px;
  top:170px;
  width:403px;
  height:25px;
  color:#FF0000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:25px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:399px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:446px;
  top:170px;
  width:223px;
  height:25px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:25px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:669px;
  top:170px;
  width:224px;
  height:25px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:25px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:195px;
  width:43px;
  height:68px;
  color:#FF0000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:68px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:43px;
  top:195px;
  width:403px;
  height:68px;
  color:#FF0000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:68px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:399px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:446px;
  top:195px;
  width:223px;
  height:68px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:68px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:669px;
  top:195px;
  width:224px;
  height:68px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:68px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:263px;
  width:43px;
  height:25px;
  color:#FF0000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:43px;
  top:263px;
  width:403px;
  height:25px;
  color:#FF0000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:25px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:399px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:446px;
  top:263px;
  width:223px;
  height:25px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:25px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:669px;
  top:263px;
  width:224px;
  height:25px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:25px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
