
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, q, th, td, caption, article, aside, figure, figcaption, footer, header, hgroup, nav, section, audio, video{
 margin: 0;
 padding: 0;
 font-weight: 400;
 font-family:"Microsoft YaHei";
}
a,img{
 border:none;
 text-decoration: none;
 cursor: pointer;
 outline: 0 none;
}

a:focus{outline:none;}
a:active{star:expression(this.onFocus=this.blur());}

ol, ul {
 list-style: none;
}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { display: inline-block }
