body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-40px;
  top:0px;
  width:1400px;
  height:1015px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:1015px;
}
#u1 {
  position:absolute;
  left:2px;
  top:500px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:30px;
  width:1360px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1156px;
  top:40px;
  width:68px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1310px;
  top:40px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:35px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:193px;
  top:5px;
  width:80px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u12 {
  position:absolute;
  left:2px;
  top:1px;
  width:76px;
  word-wrap:break-word;
}
#u11_ann {
  position:absolute;
  left:266px;
  top:1px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:1080px;
  top:40px;
  width:68px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1232px;
  top:40px;
  width:68px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:200px;
  top:41px;
  width:90px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:20px;
  top:41px;
  width:90px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u20 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:110px;
  top:41px;
  width:90px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u22 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:290px;
  top:41px;
  width:90px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:17px;
  top:9px;
  width:203px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:950px;
  top:48px;
  width:129px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:-11px;
  top:915px;
  width:1370px;
  height:100px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:100px;
}
#u30 {
  position:absolute;
  left:2px;
  top:42px;
  width:1366px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:19px;
  top:90px;
  width:831px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:190px;
  top:130px;
  width:820px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:30px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:816px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:190px;
  top:174px;
  width:820px;
  height:110px;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:110px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:47px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:200px;
  top:185px;
  width:799px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:795px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1009px;
  top:174px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1011px;
  top:193px;
  width:31px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1042px;
  top:193px;
  width:31px;
  height:30px;
  font-size:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-2px;
  width:27px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1017px;
  top:196px;
  width:22px;
  height:26px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u46 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1010px;
  top:176px;
  width:48px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:200px;
  top:235px;
  width:200px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:410px;
  top:235px;
  width:589px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:585px;
  word-wrap:break-word;
}
