@charset "utf-8";
/* CSS Document */
/*紫红色*/

/*店招背景颜色*/
.dz-color{
	background-color: #fff5fb;
}

/*导航栏背景颜色*/
.nav-color{
	background-color: #a0338d;
}

/*鼠标悬浮导航栏背景颜色*/
.nav-item-name:hover ,.nav-item-color {
	background-color: #701460;
}

/*商品推荐标题*/
.shows-hd-color {
	color: #701460;
}

/*店铺简介、店铺公告、搜索框、店铺分类颜色*/
.border_color {
	border-top-color:  #701460;
}




/*店铺分类+图标*/
.sort_icon{
	background: url(../image/shop_menu_icon.png) no-repeat scroll -22px -12px ;
}

/*店铺分类-图标*/
.sort_icon_one  {
	background: url(../image/shop_menu_icon.png) no-repeat scroll -22px 1px;
}




/*店铺大的分类*/
.sort_title_color{
	color: #701460;
}
/*店铺大分类下小分类*/
.sort_cont_color {
	background-color: #fff5fb;
	color: #701460;
	border: none;
}


/*店铺搜索990搜索字体*/
.price_sure_bg {
	background-color: #a0338d;
}
.price_sure_bg:hover {
	background-color: #701460;
}

/*店铺搜索990确定和200搜索和确定字体*/
.search_shop a:hover , .search_price_2 a:hover{
	background-color: #a0338d;
	color: #fff;
}

/*按排序显示商品字体颜色*/
.filter-btn:hover {
	color: #a0338d;
}

/*排序颜色*/
.filter-btn_type {
	background-color: #a0338d;
}


/*二维码背景颜色*/
.QRbox_color {
	background-color: #fff5fb;
	border-top-color: #fde3f1;
	}
	
/*二维码爆款推荐文字颜色*/
.QRbox ul li:hover a ,.QRbox ul li  .qr-bold {
	color: #701460;
}
	
/*二维码底部返回顶部背景颜色*/
.QRbox_bottom_bgcolor {
	color: #5e5e5e;
	background-color: #fde3f1;
}

.QRbox_bottom_bgcolor:hover {
	color: #5e5e5e;
	background-color: #ffd1ea;
}

