@charset "utf-8";
/* CSS Document */

.coupons {
	width: 990px;
	margin: auto;
}

.coupons_box1, .couponsbox_2 {
	height: 110px;
	margin-top: 10px;
}

/*优惠券1带锯齿*/
.coupons_cont {
	display: block;
	float: left;
	width: 192px;
	height:  80px;
	padding: 15px 20px;
	background: url(../image/coupons_red.jpg) no-repeat;
	color: #fff;
	text-align: center;	
}
.coupons_cont:hover{
	background-image: url(../image/coupons_red1.jpg);
}


.coupons .margin-style {
    margin-right: 20.6px;
}

.coupons_info1{
	height: 60px;
	text-align: center;
}

.coupons_info1 span{
	display: inline-block;
}

.coupons_info1  .pricebox,.coupons_info1 .infobox{
	height: 60px;
	
}

.coupons_info1  .pricebox{
	font: 600 60px/60px "Arial";
  	padding-right: 1px;
	position: relative;
	text-align: center;
}
.coupons_info1  .pricebox i {
	position: absolute;
  	font: 400 20px "Arial";
  	font-style: normal;
	left: -10px;
	top: 2px;
}

.coupons_info1  .infobox{
	width: 80px;
	text-align: left;
	margin-left: -5px;
}

.coupons_yhq{
  width: 80px;
  text-align: center;
  font: 400 24px/26px "Mirosoft YaHei";
  letter-spacing: 2px;
  padding: 5px 0;
}
.coupons_useinfo {
  width: 80px;
  font: 400 12px/16px "Arial, Helvetica, sans-serif"; 
  color: #be0e34;
  background-color: #fff;
  text-align: center;
}

/*优惠券1带锯齿之立即领取*/
.coupons_getbox  {
	width: 151px;
	padding: 0 20px;
	height: 24px;
	text-align: center;
}

.line {
	float: left;
	width: 40px;
	height: 1px;
	background-color: #fff;
	margin-top: 12px;
}

.coupons_getbox  span {
	float: left;
	width: 70px;
	font: 600 14px/24px "Mirosoft YaHei";
	text-align: center;
	letter-spacing: 1px;
}



/*优惠券1带锯齿无法领取时*/
.coupons_cont_bg {
	background: url(../image/coupons_gray.jpg) no-repeat;	
}

.coupons_cont_bg:hover {
	background: url(../image/coupons_gray.jpg) no-repeat;	
}
.coupons_info1 .yhq_get{
	color: #a5a5a5;
}

/*优惠券2纯色带边框*/
.coupons_cont2{
	display: block;
	float: left;
	width: 212px;
	height: 70px;
	padding:10px 0 ;
	color: #ff5757;
	border: #ffcbcb 10px solid;
}

.coupons_cont2:hover {
	border-color: #fe7777;
	color:#ed2734;
}
.coupons_info2 {
	height: 70px;
	text-align: center;
}

.coupons_info2 span{
	display: inline-block;
}

.coupons_info2  .pricebox2,.coupons_info2 .infobox2{
	height: 70px;	
}

.coupons_info2  .pricebox2{
	font: 600 56px "Arial";
  	padding-right: 1px;
	position: relative;
	text-align: center;
}
.coupons_info2  .pricebox2 i {
	position: absolute;
  	font: 400 20px "Arial";
  	font-style: normal;
	left: -10px;
	top: 5px;
}

.coupons_info2  .infobox2{
	width: 85px;
	text-align: left;
	margin-left: -5px;
}

.infobox2 .coupons_useinfo2 {
	width: 85px;
    color: #5e5e5e;
    font: 400 12px "Arial";
	line-height: 56px;
	height: 40px;
}


.infobox2  .coupons_get2 {
    color: #5e5e5e;
    font: 700 14px "Mirosoft YaHei";
	height: 14px;
}


/*优惠券2灰色背景*/
.coupons_cont2_bg {
	border-color: #dad7d7;
	color: #a5a5a5;
}

.coupons_cont2_bg:hover {
	border-color: #dad7d7;
	color: #a5a5a5;
}



