body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:553px;
  width:250px;
  height:35px;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:35px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:14px;
  top:36px;
  width:796px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:14px;
  top:10px;
  width:261px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:93px;
  width:183px;
  height:16px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:20px;
  top:200px;
  width:800px;
  height:290px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:290px;
}
#u9 {
  position:absolute;
  left:2px;
  top:137px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:200px;
  width:800px;
  height:38px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:38px;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:796px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:790px;
  top:200px;
  width:20px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:42px;
  top:440px;
  width:100px;
  height:30px;
  color:#6600FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:152px;
  top:440px;
  width:100px;
  height:30px;
  color:#1E1E1E;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:42px;
  top:302px;
  width:79px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:131px;
  top:297px;
  width:200px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:331px;
  top:264px;
  width:277px;
  height:16px;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:54px;
  top:264px;
  width:66px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:133px;
  top:260px;
  width:200px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:341px;
  top:302px;
  width:277px;
  height:16px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:42px;
  top:336px;
  width:79px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:42px;
  top:400px;
  width:200px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:131px;
  top:332px;
  width:94px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:235px;
  top:332px;
  width:94px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:339px;
  top:332px;
  width:94px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:443px;
  top:332px;
  width:94px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:547px;
  top:332px;
  width:94px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:125px;
  top:367px;
  width:510px;
  height:16px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:16px;
  top:530px;
  width:105px;
  height:16px;
  color:#FF0000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:217px;
  top:553px;
  width:107px;
  height:35px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:307px;
  top:553px;
  width:97px;
  height:35px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:391px;
  top:553px;
  width:408px;
  height:35px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:35px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:34px;
  top:561px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:83px;
  top:556px;
  width:127px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:175px;
  top:556px;
  width:83px;
  height:30px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:13px;
  top:603px;
  width:197px;
  height:177px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:177px;
}
#u54 {
  position:absolute;
  left:2px;
  top:80px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:20px;
  top:110px;
  width:790px;
  height:80px;
  overflow:hidden;
}
#u55_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u55_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
  text-align:left;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:786px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:760px;
  top:183px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:767px;
  top:188px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:760px;
  top:152px;
  width:30px;
  height:30px;
  font-size:28px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:729px;
  top:153px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:70px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:77px;
  top:5px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:46px;
  color:#0000FF;
  text-align:left;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:46px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:443px;
  top:264px;
  width:128px;
  height:16px;
}
#u73 {
  position:absolute;
  left:16px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u72_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  position:absolute;
  left:20px;
  top:790px;
  width:261px;
  height:16px;
  color:#FF0000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:20px;
  top:807px;
  width:790px;
  height:73px;
  overflow:hidden;
}
#u76_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:73px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u76_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:786px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:760px;
  top:143px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:767px;
  top:148px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:760px;
  top:112px;
  width:30px;
  height:30px;
  font-size:28px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:729px;
  top:113px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:80px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:87px;
  top:5px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:46px;
  color:#0000FF;
  text-align:left;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:46px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
