body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:40px;
  width:190px;
  height:140px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:140px;
}
#u1 {
  position:absolute;
  left:2px;
  top:62px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:214px;
  width:190px;
  height:76px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:76px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:46px;
  color:#0000FF;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:46px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:160px;
  top:119px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:167px;
  top:124px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:160px;
  top:88px;
  width:30px;
  height:30px;
  font-size:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:69px;
  top:1px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:76px;
  top:6px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:100px;
  top:88px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:130px;
  top:88px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:20px;
  top:40px;
  width:190px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:20px;
  top:14px;
  width:144px;
  height:16px;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:20px;
  top:190px;
  width:131px;
  height:16px;
  color:#FF0000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:30px;
  top:311px;
  width:550px;
  height:139px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:139px;
}
#u28 {
  position:absolute;
  left:2px;
  top:62px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:30px;
  top:311px;
  width:550px;
  height:38px;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:38px;
}
#u30 {
  position:absolute;
  left:2px;
  top:11px;
  width:546px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:560px;
  top:311px;
  width:20px;
  height:37px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:40px;
  top:359px;
  width:470px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:400px;
  width:100px;
  height:30px;
  color:#6600FF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:20px;
  top:525px;
  width:190px;
  height:140px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:140px;
}
#u38 {
  position:absolute;
  left:2px;
  top:62px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:20px;
  top:525px;
  width:190px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:20px;
  top:504px;
  width:290px;
  height:16px;
  color:#FF0000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:30px;
  top:560px;
  width:170px;
  height:64px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:64px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:30px;
  top:74px;
  width:170px;
  height:64px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:64px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
